@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

/* Custom global styles can go here */
body {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: black;
}